/*colors:
#92f0f3
#FF8EAF
#ED4C7A
#A6E25F
*/

body {
	font-family: 'Droid Serif', serif;
	font-size: 1.6em;
	line-height: 1.4;
}

h1, h2 {
	font-family: "Playfair Display",serif;
}

a {
	color: #ED4C7A;
	text-decoration: none;
	border-bottom: 1px solid;
}

.header {
	min-height: 4.5em;
	font-family: "Ubuntu Mono",monospace;
	/*font-size: 1.15em;*/
	line-height: 1;
	background-color: #222;
	color: #eee;
}

.header p {
	margin-top: 0;
	margin-bottom: 0.2em;
}

.header a {
	color: #92F0F3;
	border-bottom: none;
}

.prompt:before {
  content: " ~$ ";
  color: #A6E25F;
}

.date {
	font-family: "Ubuntu Mono",monospace;
	margin-right: 22px;
}

.tag {
	font-family: "Ubuntu Mono",monospace;
    float: right;
    color: #FF8EAF;
    font-size: 0.8em;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #222;
    border-radius: 3px;
    margin-left: 0.5em;
}

.tag:hover {
	color: #92F0F3;
}

.container {
	max-width: 768px;
	padding-top: 32px;
	padding-bottom: 72px;
}

img {
	display: block;
    margin: 0 auto;
}

code {
	font-family: "Ubuntu Mono",monospace;
	font-size: 1em;
	color: #ddd;
	background: #222;
	border: none;
}

hr {
	margin-top: 0.2rem;
	margin-bottom: 1rem;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1.5s step-start 0s infinite;
}
