extends layout
block content
  block about
    div(id='about')
      h1 About
      include:markdown ../contents/about.md
    hr

  block contact
    div(id='contact')
      h1 Contact
      include:markdown ../contents/contact.md
    hr

  block archive
    h1 Archive
    - var archives = env.helpers.getArticles(contents)
    each item in archives
      if !item.metadata.draft
        - dateString = item.date.getFullYear() +'-' +('0' + (item.date.getMonth()+1)).slice(-2)+ '-' + ('0' + item.date.getDate()).slice(-2);
        span(class='date')=dateString
        a(href=item.url)=item.title
        - tags=item.metadata.tags
        each tag in tags
          a(class='tag', href='/tag/'+tag, title='item.metadata.byline')=tag.trim()
        div(style='clear: both;')
